* {
  padding: 0;
  margin: 0;
}

header {
  background-color: lightgreen;
  font-size: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li {
  margin: 1rem;
  padding: 1rem;
}

.home_page {
  background: url("https://cdn.pixabay.com/photo/2016/08/04/18/52/pokemon-go-1569794__480.jpg") no-repeat center center/cover;
  height: calc(100vh - 20vh);
}

footer {
  position: fixed;
  bottom: 0;
  background-color: greenyellow;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 1rem 0;
  padding: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.pokemon_holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}